@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima-Nova-Regular.otf");
}

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Proxima-Nova-Bold.otf");
}
